.cardContainer {
    border: yellow solid 3px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.listContainer {
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    margin: 0.5vh;
    margin-top: 2.5vh;
    overflow: hidden;
}
@media (max-width: 768px) {
    .listContainer {
        display: flex;
        flex-direction: column;
    }


}