.cardContainer {
    border: yellow solid 3px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.listContainer {
    display:flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    margin: 0.5vh;
    margin-top: 2.5vh;
    overflow: hidden;
}

.historial{
    display: flex;
    flex-direction: column;
    padding: 3vh;
    align-items: first baseline;
    border-radius: 25px;
    width: fit-content;
    margin: 1vh;
    position: relative;
    flex-wrap: wrap;
    border: green solid 3px;
    text-decoration: none;
}

.historial__card {
    display: flex;
    width: 100%;
    border-radius: 25px;
    background-color:  rgb(133, 132, 132);
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    border: solid red 3px;
}

.historial__img{
    height: 4rem;
    object-fit: contain;
}

.historial__p{
    text-decoration: none;
    color: none;
    color: black;
}




@media (max-width: 768px) {
    .listContainer {
        display: flex;
        flex-direction: column;
    }


}