.reporte {
    display: flex;
    justify-items: center;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    gap: 0.5rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.reporte__p {
    
    align-self: first baseline;
}