.header {
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: rgb(253, 242, 33);
    color: black;
    border-bottom: 2px solid black;
    position: relative;
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
}

.header__link {
    height: 100%;
    width: 100%;
}

.header__img {
    display: flex;
    max-height: 100%;
    width: auto;
}
.header__title {
    display: flex;
    justify-self: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.header__h1 {
    height: 80%;
    width: fit-content;
    align-self: center;
    font-size: 1.5rem;
}

.header__boton {
    text-decoration: none;
    color: white;
    width: fit-content;
    font-size: 0.3rem;
    background-color: #007bff;
    border-radius: 5px;
}

.usuario {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 0.5%;
    margin-top: 0.5%;
    font-size: 1rem;
    align-items: center;
}

.usuario__p{
    margin-bottom: 0;
}

@media (max-width: 910px) {
    .header__title {
        display: none;
    }
}

